[Unit]
Description=wPArt11 scanner server
After=syslog.target
After=network-online.target

[Service]
Type=forking

User=root
ExecStart=/vnmr/p11/sbin/S99scanlog start
ExecStop=/vnmr/p11/sbin/S99scanlog stop

[Install]
WantedBy=multi-user.target
