[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OpenVnmrJ 中文 
Comment[en_CA]=OpenVnmrJ with Chinese
Comment[en_GB]=OpenVnmrJ with Chinese
Comment[nl]=OpenVnmrJ in Chinese 
Exec=vnmrj -Dlanguage=zh -Dcountry=CN
Icon=/vnmr/iconlib/OVJ.png
Type=Application
Categories=GNOME;Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.4
OnlyShowIn=GNOME;
Name[en_US]=OpenVnmrJ 中文 
StartupWMClass=vnmr-ui-VNMRFrame
