[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=VnmrJ 中文 
Comment[en_CA]=VnmrJ with Chinese
Comment[en_GB]=VnmrJ with Chinese
Comment[nl]=VnmrJ in Chinese 
Exec=vnmrj -Dlanguage=zh -Dcountry=CN
Icon=/vnmr/iconlib/vnmrj.png
Type=Application
Categories=GNOME;Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.4
OnlyShowIn=GNOME;
Name[en_US]=VnmrJ 中文 
