[Desktop Entry]
Encoding=UTF-8
Name=OpenVnmrJ Admin
Comment[en_CA]=OpenVnmrJ Admin
Comment[en_GB]=OpenVnmrJ Admin
Comment[nl]=OpenVnmrJ Admin
Exec=vnmrj adm
Icon=/vnmr/iconlib/OVJ_ADMIN.png
Type=Application
Categories=GNOME;Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.4
OnlyShowIn=GNOME;
