[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=VnmrJ 日本国
Comment[en_CA]=VnmrJ with Japanese
Comment[en_GB]=VnmrJ with Japanese
Comment[nl]=VnmrJ in Japans
Exec=vnmrj -Dlanguage=ja
Icon=/vnmr/iconlib/vnmrj.png
Type=Application
Categories=GNOME;Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.4
OnlyShowIn=GNOME;
Name[en_US]=VnmrJ 日本語 
