[Desktop Entry]
Encoding=UTF-8
Name=VnmrJ Admin
Comment[en_CA]=VnmrJ Admin
Comment[en_GB]=VnmrJ Admin
Comment[nl]=VnmrJ Admin
Exec=vnmrj adm
Icon=/vnmr/iconlib/vnmrjadmin.png
Type=Application
Categories=GNOME;Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.4
OnlyShowIn=GNOME;
