[Desktop Entry]
Encoding=UTF-8
Name=VnmrJ
Comment[en_CA]=VnmrJ
Comment[en_GB]=VnmrJ
Comment[nl]=VnmrJ
Exec=vnmrj -Dlanguage=en
Icon=/vnmr/iconlib/vnmrj.png
Type=Application
Categories=GNOME;Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.4
OnlyShowIn=GNOME;
