[Desktop Entry]
Encoding=UTF-8
Name=OpenVnmrJ
Comment[en_CA]=OpenVnmrJ
Comment[en_GB]=OpenVnmrJ
Comment[nl]=OpenVnmrJ
Exec=vnmrj -Dlanguage=en
Icon=/vnmr/iconlib/OVJ.png
Type=Application
Categories=GNOME;Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.4
OnlyShowIn=GNOME;
StartupWMClass=vnmr-ui-VNMRFrame
