# Prototype for plot header
Title:
  $VALUE=samplename
Header: 1 1
  Sample Name
  $VALUE=samplename
Header: 1 2
  Pulse sequence
  $VALUE=pslabel
Header: 1 3
  Temperature
  $VALUE=temp
Header: 1 4
  Study owner
  $VALUE=studyowner

Header: 2 1
  Date collected
  systemtime('%Y%m%dT%H%M%S',time_run):$sec systemtime('%F',$sec):$VALUE
Header: 2 2
  Solvent
  $VALUE=solvent
Header: 2 3
  Spectrometer
  $VALUE=systemname_
Header: 2 4
  Operator
  $VALUE=operator_

# Footers are optional
Footer:
  Data file
  $VALUE=file
Footer: right
  Plot date
  systemtime('%F'):$VALUE


