[project]
	description = "Most of the code for OpenVnmrJ. Build tools are not here and must  be installed. Build tools will be posted soon."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/timburrow
[access "refs/for/refs/*"]
	read = group user/timburrow
	push = group user/timburrow
	label-Code-Review = -2..+2 group user/timburrow
	label-Verified = -1..+1 group user/timburrow
	rebase = group user/timburrow
	removeReviewer = group user/timburrow
	submit = group user/timburrow
[access "refs/heads/*"]
	read = group user/timburrow
	create = group user/timburrow
	push = +force group user/timburrow
	pushMerge = group user/timburrow
[access "refs/tags/*"]
	push = +force group user/timburrow
	pushTag = group user/timburrow
	pushSignedTag = group user/timburrow
