<?xml version="1.0" encoding="UTF-8"?>
<!--
 ! xml/config.xml
 !
 ! Copyright (C) 2015  University of Oregon
 ! You may distribute under the terms of either the GNU General Public
 ! License or the Apache License, as specified in the LICENSE file.
 ! For more information, see the LICENSE file.
 !
 -->

<template element="panels" type="global parameters" >
    
<!-- Mercury Console -->

<group loc="10 400" size="350 30"
      border="None"
      side="Top"
      justify="Left"
      vq="Console"
      show="if Console='mercury' then $SHOW=1 else exists(systemdir,'file','rw'):$SHOW endif"
      tab="no"
      useref="no"
      >
      <button loc="20 0" size="150 25" style="Heading2"
        label="System config"
        vc="config vnmrjcmd('Modeless') system=system gradtype=gradtype h1freq=h1freq shimset=shimset sysgcoil=sysgcoil traymax=traymax"
        />
      <button loc="180 0" size="150 25" style="Heading2"
        vq="operator owner"
        label="Persona manager"
        vc="PersonaBuilderAdm vnmrjcmd('Modeless')"
        />
    </group>
    <group loc="10 398" size="180 30"
      border="None"
      side="Top"
      justify="Left"
      vq="Console"
      show="if Console='mercury' then $SHOW=0 else exists(systemdir,'file','rw'):$SHOW $SHOW=1-$SHOW endif"
      tab="no"
      useref="no"
      >
      <check loc="20 0" size="150 20" style="Label1"
        label="Display configuration"
        vc="clear(1) config('display') vnmrjcmd('setpage','Process') vnmrjcmd('setpage','Process','Text Output')"
        />
    </group>
 <folder loc="10 20" size="386 372">
  <group loc="10 20" size="376 368" value="System">
  <group size="376 366"
    tab="false"
    vq="Console"
    show="$SHOW=(Console='vnmrs')"
    >
    <group loc="8 18" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="200 20"
        style="Label1"
        value="Application mode"
        />
      <menu loc="235 0" size="120 20"
        style="PlainText"
        value="menu"
        vq="appmode"
        vc="appmode='$VALUE'"
        set="$VALUE=appmode"
        >
        <mlabel value="Spectroscopy" chval="walkup"/>
        <mlabel value="LC-NMR" chval="lc"/>
        <mlabel value="Imaging" chval="imaging"/>
      </menu>
    </group>
    <group loc="8 42" size="370 50"
      tab="false"
      >
      <label loc="8 0" size="112 20"
	style="Label1"
        label="Gradient amplifier"
        justify="Left"
        />
      <label loc="146 0" size="24 20"
        style="Label1"
        label="X"
        justify="Left"
        />
      <label loc="218 0" size="24 20"
        style="Label1"
        label="Y"
        justify="Left"
        />
      <label loc="290 0" size="24 20"
        style="Label1"
        label="Z"
        justify="Left"
        />
      <menu loc="162 0" size="48 20"
        style="PlainText"
        label="menu"
        vq="pfgon"
        vc="substr(pfgon,1,1,'$VALUE'):pfgon"
        set="substr(pfgon,1,1):$VALUE"
        >
        <mlabel label="On" chval="y"/>
        <mlabel label="Off" chval="n"/>
      </menu>
      <menu loc="234 0" size="48 20"
        style="PlainText"
        label="menu"
        vq="pfgon"
        vc="substr(pfgon,2,1,'$VALUE'):pfgon"
        set="substr(pfgon,2,1):$VALUE"
        >
        <mlabel label="On" chval="y"/>
        <mlabel label="Off" chval="n"/>
      </menu>
      <menu loc="306 0" size="48 20"
        style="PlainText"
        label="menu"
        vq="pfgon"
        vc="substr(pfgon,3,1,'$VALUE'):pfgon"
        set="substr(pfgon,3,1):$VALUE"
        >
        <mlabel label="On" chval="y"/>
        <mlabel label="Off" chval="n"/>
      </menu>
    </group>
    <group loc="8 66" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Hardware shimming"
        />
      <menu loc="270 0" size="84 20"
        style="PlainText"
        value="menu"
        vq="hdwshim"
        vc="hdwshim='$VALUE'"
        set="$VALUE=hdwshim"
        >
        <mlabel label="None" chval="n"/>
        <mlabel label="Delay" chval="y"/>
        <mlabel label="Presat" chval="p"/>
      </menu>
    </group>
    <group loc="8 90" size="380 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Hardware Shim List (z1 if off)"
        />
      <entry loc="270 0" size="80 20"
        style="PlainText"
        vq="hdwshimlist"
        vc="exists('hdwshimlist','parameter','global'):$e if not $e then create('hdwshimlist','string','global') endif hdwshimlist='$VALUE'"
        set="$VALUE=hdwshimlist"
	tooltip="Example: z1z2x1y1"
        />
    </group>
    <group loc="8 114" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Probe protection"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="probe_protection"
        vc="probe_protection='y'"
        vc2="probe_protection='n'"
        set="$VALUE=(probe_protection='y')"
      />
    </group>
    <group loc="8 138" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Solids VT system"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="masvt"
        vc="masvt='y'"
        vc2="masvt='n'"
        set="$VALUE=(masvt='y')"
      />
    </group>
    <group loc="8 162" size="380 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="VT cutoff (0-50)"
        />
      <entry loc="270 0" size="80 20"
        style="PlainText"
        vq="vtc"
        vc="vtc=$VALUE"
        set="$VALUE=vtc"
        />
    </group>
    <group loc="8 186" size="380 32"
      tab="false"
      vq="vtflowrange"
      show="$SHOW=(vtflowrange>49)"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="EZVT hardware"
        />
      <menu loc="246 0" size="104 20"
        style="PlainText"
        value="menu"
        vq="vtezscale"
        vc="setezvt($VALUE)"
        set="$VALUE=vtezscale"
        >
        <mlabel label="Not present" chval="1"/>
        <mlabel label="Present" chval="2"/>
      </menu>
    </group>
    <group loc="8 210" size="380 32"
      tab="false"
      vq="atune"
      show="$SHOW=(atune='y')"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Show ProTune window"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="showprotunegui"
        vc="showprotunegui='yas'"
        vc2="showprotunegui='n'"
        set="strstr(showprotunegui,'y'):$y strstr(showprotunegui,'a'):$a $VALUE=($a or $y)"
      />
    </group>
    <group loc="8 210" size="380 96"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Operator login window position:"
        />
      <radio loc="32 25" size="250 20"
        style="Label1"
        vq="loginBox"
        value="Cover the VnmrJ window"
        set="$VALUE=(loginBox='default')"
        vc="loginBox='default'"
        />
      <radio loc="32 50" size="250 20"
        style="Label1"
        value="Wherever the operator moves it"
        vq="loginBox"
        set="$VALUE=(loginBox='variable')"
        vc="loginBox='variable'"
        />
      <radio loc="32 75" size="250 20"
        style="Label1"
        value="Fixed at the current position"
        vq="loginBox"
        set="$VALUE=(loginBox='fixed')"
        vc="loginBox='fixed' cp(userdir+'/persistence/LoginPanel',userdir+'/persistence/LoginPanelFixedBounds')"
        />
    </group>
  </group>
  
<!-- Inova Console -->

<group size="376 366"
    tab="false"
    vq="Console"
    show="$SHOW=(Console='inova')"
    >
    <group loc="8 18" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="200 20"
        style="Label1"
        value="Application mode"
        />
      <menu loc="235 0" size="120 20"
        style="PlainText"
        value="menu"
        vq="appmode"
        vc="appmode='$VALUE'"
        set="$VALUE=appmode"
        >
        <mlabel value="Spectroscopy" chval="walkup"/>
        <mlabel value="LC-NMR" chval="lc"/>
        <mlabel value="Imaging" chval="imaging"/>
      </menu>
    </group>
    <group loc="8 42" size="370 50"
      tab="false"
      >
      <label loc="8 0" size="112 20"
        style="Label1"
        label="Gradient amplifier"
        justify="Left"
        />
      <label loc="146 0" size="24 20"
        style="Label1"
        label="X"
        justify="Left"
        />
      <label loc="218 0" size="24 20"
        style="Label1"
        label="Y"
        justify="Left"
        />
      <label loc="290 0" size="24 20"
        style="Label1"
        label="Z"
        justify="Left"
        />
      <menu loc="162 0" size="48 20"
        style="PlainText"
        label="menu"
        vq="pfgon"
        vc="substr(pfgon,1,1,'$VALUE'):pfgon"
        set="substr(pfgon,1,1):$VALUE"
        >
        <mlabel label="On" chval="y"/>
        <mlabel label="Off" chval="n"/>
      </menu>
      <menu loc="234 0" size="48 20"
        style="PlainText"
        label="menu"
        vq="pfgon"
        vc="substr(pfgon,2,1,'$VALUE'):pfgon"
        set="substr(pfgon,2,1):$VALUE"
        >
        <mlabel label="On" chval="y"/>
        <mlabel label="Off" chval="n"/>
      </menu>
      <menu loc="306 0" size="48 20"
        style="PlainText"
        label="menu"
        vq="pfgon"
        vc="substr(pfgon,3,1,'$VALUE'):pfgon"
        set="substr(pfgon,3,1):$VALUE"
        >
        <mlabel label="On" chval="y"/>
        <mlabel label="Off" chval="n"/>
      </menu>
    </group>
    <group loc="8 66" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Type of digital signal processing"
        />
      <menu loc="270 0" size="84 20"
        style="PlainText"
        value="menu"
        vq="dsp"
        vc="dsp='$VALUE'"
        set="$VALUE=dsp"
        >
        <mlabel label="Realtime" chval="r"/>
        <mlabel label="Inline" chval="i"/>
        <mlabel label="None" chval="n"/>
      </menu>
    </group>
    <group loc="8 90" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Frequency-shifted quadrature detection"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="fsq"
        vc="fsq='y'"
        vc2="fsq='n'"
        set="$VALUE=(fsq='y')"
      />
    </group>
    <group loc="8 114" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Hardware shimming"
        />
      <menu loc="270 0" size="84 20"
        style="PlainText"
        value="menu"
        vq="hdwshim"
        vc="hdwshim='$VALUE'"
        set="$VALUE=hdwshim"
        >
        <mlabel label="None" chval="n"/>
        <mlabel label="Delay" chval="y"/>
        <mlabel label="Presat" chval="p"/>
      </menu>
    </group>
    <group loc="138" size="380 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Hardware Shim List (z1 if off)"
        />
      <entry loc="270 0" size="80 20"
        style="PlainText"
        vq="hdwshimlist"
        vc="exists('hdwshimlist','parameter','global'):$e if not $e then create('hdwshimlist','string','global') endif hdwshimlist='$VALUE'"
        set="$VALUE=hdwshimlist"
	tooltip="Example: z1z2x1y1"
        />
    </group>
    <group loc="8 162" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Probe protection"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="probe_protection"
        vc="probe_protection='y'"
        vc2="probe_protection='n'"
        set="$VALUE=(probe_protection='y')"
      />
    </group>
    <group loc="8 186" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Solids VT system"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="masvt"
        vc="masvt='y'"
        vc2="masvt='n'"
        set="$VALUE=(masvt='y')"
      />
    </group>
    <group loc="8 186" size="380 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="VT cutoff (0-50)"
        />
      <entry loc="270 0" size="80 20"
        style="PlainText"
        vq="vtc"
        vc="vtc=$VALUE"
        set="$VALUE=vtc"
        />
    </group>
  </group>

<!-- Mercury Console -->

  <group size="376 364"
    tab="false"
    vq="Console"
    show="$SHOW=(Console='mercury')"
    >
    <group loc="8 18" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="200 20"
        style="Label1"
        value="Application mode"
        />
      <menu loc="235 0" size="120 20"
        style="PlainText"
        value="menu"
        vq="appmode"
        vc="appmode='$VALUE'"
        set="$VALUE=appmode"
        >
        <mlabel value="Spectroscopy" chval="walkup"/>
      </menu>
    </group>
    <group loc="8 42" size="370 50"
      tab="false"
      >
      <label loc="8 0" size="136 20"
        style="Label1"
        label="Gradient amplifier [Z]"
        justify="Left"
        />
      <menu loc="270 0" size="84 20"
        style="PlainText"
        label="menu"
        vq="pfgon"
        vc="substr(pfgon,3,1,'$VALUE'):pfgon"
        set="substr(pfgon,3,1):$VALUE"
        >
        <mlabel label="On" chval="y"/>
        <mlabel label="Off" chval="n"/>
      </menu>
    </group>
    <group loc="8 66" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Type of digital signal processing"
        />
      <menu loc="270 0" size="84 20"
        style="PlainText"
        value="menu"
        vq="dsp"
        vc="dsp='$VALUE'"
        set="$VALUE=dsp"
        >
        <mlabel label="Inline" chval="i"/>
        <mlabel label="None" chval="n"/>
      </menu>
    </group>
    <group loc="8 90" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Frequency-shifted quadrature detection"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="fsq"
        vc="fsq='y'"
        vc2="fsq='n'"
        set="$VALUE=(fsq='y')"
      />
    </group>
    <group loc="8 114" size="380 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="VT cutoff (0-50)"
        />
      <entry loc="270 0" size="80 20"
        style="PlainText"
        vq="vtc"
        vc="vtc=$VALUE"
        set="$VALUE=vtc"
        />
    </group>
  </group>
  </group>

<!-- Start Display/Plot -->

  <group loc="10 10" size="430 332" value="Display/Plot">
  <group size="480 330"
    tab="false"
    >
    <group loc="8 18" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Set display from plotter aspect ratio (wysiwyg)"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="wysiwyg"
        vc="wysiwyg='y'"
        vc2="wysiwyg='n'"
        set="$VALUE=(wysiwyg='y')"
      />
    </group>
    <group loc="8 42" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Spectrum updating during phasing (0-100)"
        />
      <entry loc="270 0" size="66 20"
        style="PlainText"
        vq="phasing"
        vc="phasing=$VALUE"
        set="$VALUE=phasing"
        />
    </group>
    <group loc="8 66" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Max # of pens"
        />
      <entry loc="270 0" size="66 20"
        style="PlainText"
        vq="maxpen"
        vc="maxpen=$VALUE"
        set="$VALUE=maxpen"
        />
    </group>
    <group loc="8 90" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="200 20"
        style="Label1"
        value="Show tooltips"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq=""
        vc="vnmrjcmd('tooltip','on')"
        vc2="vnmrjcmd('tooltip','off')"
        set="$str='on' $file=userdir+'/persistence/ToolTip' exists($file,'file'):$e if ($e) then lookup('mfile',$file,'skip','read'):$str endif $VALUE=($str='on')"
      />
    </group>

    <group loc="8 114" size="370 126"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Max # of items to show in locator"
        />
      <entry loc="270 0" size="66 20"
        style="PlainText"
        vq=""
        vc="vnmrjcmd('LOC set maxLocItemsToShow $VALUE')"
        set="$vjcstr='2000' $vjcfile=userdir+'/persistence/MaxLocItemsToShow' exists($vjcfile,'file'):$vjconfige if ($vjconfige) then lookup('mfile',$vjcfile,'skip','read'):$vjcstr endif $VALUE=$vjcstr"        />


      <label loc="8 24" size="260 20"
        style="Label1"
        value="Display only matching items in locator"
        />
      <check loc="270 24" size="16 20"
        style="Label1"
        vq=""
        vc="vnmrjcmd('setMatchingOnly','true')"
        vc2="vnmrjcmd('setMatchingOnly','false')"
        set="$vjcstr='f' $vjcfile=userdir+'/persistence/MatchingOnly' exists($vjcfile,'file'):$vjconfige if ($vjconfige) then lookup('mfile',$vjcfile,'skip','read'):$vjcstr endif $VALUE=($vjcstr='true')"
      />
      <label loc="24 48" size="200 20"
        style="Label1"
        value="Print 1 page"
        />
      <radio loc="270 48" size="10 20"
        style="PlainText"
        label=""
        vq="plduplex"
        vc="plduplex=2"
        set="$VALUE=(plduplex=2)"
        show="exists('plduplex','parameter','global'):$ENABLE"
        />
      <label loc="24 72" size="200 20"
        style="Label1"
        value="Print 2 pages"
        />
      <radio loc="270 72" size="10 20"
        style="PlainText"
        label=""
        vq="plduplex"
        vc="plduplex=0"
        set="$VALUE=(plduplex=0)"
        show="exists('plduplex','parameter','global'):$ENABLE"
        />
      <label loc="24 96" size="200 20"
        style="Label1"
        value="Print double-sided"
        />
      <radio loc="270 96" size="10 20"
        style="PlainText"
        label=""
        vq="plduplex"
        vc="plduplex=1"
        set="$VALUE=(plduplex=1)"
        show="exists('plduplex','parameter','global'):$ENABLE"
        />
    </group>
    <group loc="8 235" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Process data on drag-and-drop"
        />
      <check loc="270 0" size="16 20"
        style="Label1"
        vq="doprocess"
        vc="doprocess[1]='y'"
        vc2="doprocess[1]='n'"
        set="$VALUE=(doprocess[1]='y')"
      />
    </group>
    <group loc="8 258" size="370 32"
      tab="false"
      >
      <label loc="8 0" size="260 20"
        style="Label1"
        value="Trash sample node preferences:"
        />
    </group>
    <group loc="8 282" size="370 32"
      tab="false"
      >
      <label loc="24 0" size="240 20"
        style="Label1"
        value="Customized nodes"
        />
      <menu loc="220 0" size="126 20"
        style="PlainText"
        value="menu"
        vq="trashnodepref"
        vc="trashnodepref[1]='$VALUE'"
        set="$VALUE=trashnodepref[1]"
        >
        <mlabel value="Not allowed" chval="No"/>
        <mlabel value="Skip" chval="Skip"/>
        <mlabel value="Delete" chval="Delete"/>
      </menu>
    </group>
    <group loc="8 306" size="370 32"
      tab="false"
      >
      <label loc="24 0" size="240 20"
        style="Label1"
        value="Completed nodes"
        />
      <menu loc="220 0" size="126 20"
        style="PlainText"
        value="menu"
        vq="trashnodepref"
        vc="trashnodepref[2]='$VALUE'"
        set="$VALUE=trashnodepref[2]"
        >
        <mlabel value="Not allowed" chval="No"/>
        <mlabel value="Remove data" chval="RemoveData"/>
        <mlabel value="Delete" chval="Delete"/>
      </menu>
    </group>
  </group>
  </group>
 </folder>
</template>
