*.a
*.o
*.os
*.so
.sconsign
.sconsign.dblite

daemon.c
excepthandler.c
iofuncs.c
masSpeed.c
parser.c
termhandler.c

Masproc

acqcmds.h
acquisition.h
errLogLib.h
errorcodes.h
eventHandler.h
hhashLib.h
hostMsgChannels.h
iofuncs.h
ipcMsgQLib.h
mfileObj.h
msgQLib.h
parser.h
shrMLib.h
termhandler.h

