*.a
*.o
*.os
*.so
.sconsign.dblite

allocate.c
assign.c
magic.gram.y
node.c
ops.c
pvars.c
symtab.c
tempstuff.c
tools.c
variables1.c

data.h

generic.h
magic.gram.c
magic.gram.h
magic.gram.output
allocate.h
group.h
init.h
magical_lex.c
node.h
pvars.h
symtab.h
tools.h
variables.h
vnmrsys.h
wjunk.h

fdfgluer
fdfsplit

ib_ui
ib_graphics

