/* Table Styles */

body {
	color: #495268;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: .7em;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

.header-table {
	width: 275px;
	margin-left: 20px;
	float: left;
}

.header-table th {
	border-bottom: 1px solid #0085d5;
}

.header-table td {
	border: none;
}

.header-table td.pass {
	color: #38c705;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	padding: 0;
}

.header-table td.warn {
	color: #ed9e00;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	padding: 0;
}

.header-table td.fail {
	color: #cc0000;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	padding: 0;
}

.signature-table {
	width: 275px;
	margin-left: 20px;
	float: left;
}

.signature-table td {
	height: 70px;
	vertical-align: top;
	border-top: 1px solid black;
	border-left: 5px solid #fff;
}

.signature-table td.form {
	height: 20px;
	border: none;
}

input {
	height: 25px;
	border: none;
}

.container {
	width: 900px;
}

.table-container {
	margin-top: -50px;
	float: right; 
}

table {
	width: 550px;
	border-collapse: collapse;
	page-break-inside: auto;
}

table th {
	padding-bottom: 4px;
	color: #0085d5;
	text-align: left;
	border-bottom: 2px solid #0085d5;
}

table tr {
	page-break-inside: avoid;
	page-break-after: auto;
}

table td {
	padding: 4px 4px;
	border-bottom: 1px dotted #abb1c3;
}

.table-heading {
	text-transform: uppercase;
}

.odd {
	background-color: #f0f2f7;
}

.pass {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #38c705;
	border-bottom: 1px dotted #fff;
}

.fail {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #cc0000;
	border-bottom: 1px dotted #fff;
}

.warn {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #ed9e00;
	border-bottom: 1px dotted #fff;
}

.done {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #0085d5;
	border-bottom: 1px dotted #fff;
}
