*.a
*.o
*.os
*.so
.sconsign.dblite

CVS
s2pul
.project
.cvsignore

vfilesys.c
pvars.c
assign.c
s2pul.c
variables1.c
symtab.c
lockfreqfunc.c
allocate.c
CSfuncs.c
tools.c
asmfuncs.c
shims.c

ACQ_SUN.h
acodes.h
allocate.h
arrayfuncs.h
asm.h
data.h
dpsdef.h
chempack.h
CSfuncs.h
expDoneCodes.h
file
gradient.h
graphics.h
group.h
init.h
lc.h
mfileObj.h
params.h
pvars.h
shims.h
shrexpinfo.h
symtab.h
tools.h
variables.h
vfilesys.h
wjunk.h

pboxpulse.h
soliddecshapes.h
soliddefs.h
solidelements.h
solidhhdec.h
solidmpseqs.h
solidobjects.h
solidstates.h
solidwshapes.h
soliddutycycle.h
solidstandard.h
solidshapegen.h
solidpulses.h
Pbox_bld.h

