*.a
*.o
*.os
*.so
.sconsign
.sconsign.dblite

daemon.c
excepthandler.c
commfuncs.c
parser.c
statfuncs.c

Procproc

chanLib.h
chanLibP.h
commfuncs.h
data.h
errLogLib.h
eventHandler.h
eventQueue.h
eventQueueP.h
expDoneCodes.h
hhashLib.h
hostAcqStructs.h
hostMsgChannels.h
ipcKeyDbm.h
ipcMsgQLib.h
listObj.h
locksys.h
mfileObj.h
msgQLib.h
parser.h
semLib.h
shrMLib.h
shrexpinfo.h
shrstatinfo.h
sockets.h

