*.a
*.o
*.os
*.so
.sconsign
.sconsign.dblite

daemon.c
asmfuncs.c
procQfuncs.c
excepthandler.c
commfuncs.c
parser.c

Autoproc

asm.h
chanLib.h
chanLibP.h
commfuncs.h
data.h
errLogLib.h
eventHandler.h
eventQueue.h
eventQueueP.h
expQfuncs.h
hhashLib.h
hostAcqStructs.h
hostMsgChannels.h
ipcKeyDbm.h
ipcMsgQLib.h
listObj.h
mfileObj.h
msgQLib.h
parser.h
procQfuncs.h
semLib.h
shrMLib.h
shrexpinfo.h
sockets.h

