*.a
*.o
*.os
*.so
.sconsign.dblite
.cproject
.project
.settings
CVS

socket1.c
expQfuncs.c
convertapbout.c
ProcCom.c
statfuncs.c
socket.c
comm.c

acquisition.h
comm.h
expQfuncs.h
hostAcqStructs.h
hostMsgChannels.h
proccom_ProcCom.h
shrexpinfo.h
shrstatinfo.h
variables.h

