[Unit]
Description=Vnmr Web Server
ConditionPathExists=/vnmr/web/scripts/ovjWeb
After=vnmr.service

[Service]
Type=simple
User=root
ExecStart=/vnmr/web/scripts/ovjWeb start
ExecStop=/vnmr/web/scripts/ovjWeb stop

[Install]
WantedBy=multi-user.target
