*.class
classes
src/vnmr/bo
src/vnmr/images
src/vnmr/util
src/vnmr/probeid
src/vnmr/vjclient
apt.jar
apt.jar.*
Manifest
Manifest.mf
apt.log.*
apt.map.*
javadoc
.settings

apt.jar.pro  
apt.prodir/
apt.pro.*
# files related to probeid integration testing
TEST-PROBEID-*
