*.a
*.o
*.os
*.so
.sconsign.dblite

daemon.c
procQfuncs.c
excepthandler.c
commfuncs.c
parser.c
expQfuncs.c
statfuncs.c

Recvproc

chanLib.h
commfuncs.h
data.h
errLogLib.h
eventHandler.h
expDoneCodes.h
expQfuncs.h
hhashLib.h
hostAcqStructs.h
hostMsgChannels.h
ipcMsgQLib.h
mfileObj.h
msgQLib.h
parser.h
procQfuncs.h
shrMLib.h
shrexpinfo.h
shrstatinfo.h
sockets.h

