/*
 *
 *
 */
 
@keyframes channel-on
{
	from	{background: #495268;}
	to		{background: #0085d5;}
}

@-webkit-keyframes channel-on /* Safari and Chrome */
{
	from	{background: #495268;}
	to		{background: #0085d5;}
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 100%;
	background-color: #293347;
}

h5 {
	color: #7d8297;
	text-transform: uppercase;
	text-shadow: none;
	margin: 0px;
	text-align: left;
	padding: 10px 10px 20px;
}

sup {
	font-weight: normal;
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

/* Media queries */

@media screen and (min-width: 1200px) {
	body { font-size: 80%; }
	#specName { max-width: 800px; }
	.navbar { width: 98%; }
	.tuning.span12 { width: 97.7%; }
	.status.span12 { width: 48.3%; height: 260px; }
	.span8, .span4 { width: 48.3%; height: 380px; }
}

@media screen and (min-width: 979px) and (max-width: 1199px) {
	body { font-size: 100%; }
	#specName { max-width: 280px; }
	.acquire-text { font-size: 70% }
	.navbar { width: 98%; }
	.tuning.span12 { width: 97.7%; }
	.status.span12 { width: 96%; height: 300px; }
	.acquire, .error, .idle { padding-bottom: 10px; }
	.cryo { padding-bottom: 12px; padding-right: 20px; }
	.span8 { width: 62%; height: 400px; }
	.span4 { width: 31%; height: 400px; }

}

@media screen and (min-width: 768px) and (max-width: 979px) {
	body { font-size: 100%; }
	#specName { max-width: 280px; }
	.acquire-text { font-size: 70% }
	.navbar { width: 98%; }
	.tuning.span12 { width: 97.7%; }
	.status.span12 { width: 97.5%; height: 350px; }
	.acquire, .error, .idle { padding-bottom: 10px; }
	.cryo { padding-bottom: 12px; padding-right: 20px; }
	.span8 { width: 62%; height: 400px; }
	.span4 { width: 31%; height: 400px; }
	
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	body { font-size: 70%; }
	.status.span12 { height: 240px; }
	.span8 { height: 400px; }
	.span4 { height: 400px; }
}

@media screen and (max-width: 480px) {
	body { font-size: 43%; }
	.status.span12 { height: 180px; }
	.span8 { height: 290px; }
	.acquire-text { font-size: 140%; }
	.acquire-title { font-size: 140%; }
}

/* Browser Detect */

.browser {
	color: #f0f2f7;
	margin: 40px;
	font-size: 1.5em;
	line-height: 1.3;
	text-align: center;
	border: 1px solid white;
	background-color: #495268;
	padding: 50px;
}

/* Top Navigation Bar */

.navbar {
	margin: 10px 12px;
}

.navbar-inner {
	padding: 0 10px;
	min-height: 50px;
	background-color: #495268;
	background-image: -moz-linear-gradient(top, #7d8297, #081b2f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7d8297), to(#081b2f));
	background-image: -webkit-linear-gradient(top, #7d8297, #081b2f);
	background-image: -o-linear-gradient(top, #7d8297, #081b2f);
	background-image: linear-gradient(to bottom, #7d8297, #081b2f);
	background-repeat: repeat-x;
	border: 1px solid #7d8297;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .divider-vertical {
  	margin: 12px 5px;
	height: 27px;
  	vertical-align: middle;
  	border-right: 1px solid #081b2f;
  	border-left: 1px solid #7d8297;
}

.navbar .btn-navbar {
	background-color: #293347;
	*background-color: ##495268;
	background-image: -moz-linear-gradient(top, #293347, #495268);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#293347), to(#495268));
	background-image: -webkit-linear-gradient(top, #293347, #495268);
	background-image: -o-linear-gradient(top, #293347, #495268);
	background-image: linear-gradient(to bottom, #293347, #495268);
	background-repeat: repeat-x;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #495268;
}

.nav-collapse .navbar-form {
	border: none;
}

.navbar .btn-navbar .icon-bar {
	background-color: #abb1c3;
}

.navbar .brand {
	float: left;
	font-size: 1.3em;
	margin-left: 4px;
	color: #abb1c3;
	text-shadow: none;
	line-height: 32px;
}

.logo {
	width: 160px;
	padding-top: 8px;
}

.container {
	margin-top: 2px;
}

#specName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #f0f2f7;
	font-size: 1.2em;
	margin: 15px 10px 0px 15px;
	text-transform: uppercase;
}
 
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	*margin-right: .3em;
	background-image: url("../img/glyphicons-halflings-white.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.btn {
	height: 36px;
	margin-left: 5px;
}

.icon-refresh {
	background-position: -240px -24px;
}

/* Temp and Lock Status Box */

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 12px;
}

.status {
	background-color: #081b2f;
	display: block;
	border: 1px solid #7D8297;
	color: #82cc03;
	font-size: 13.2em;
	font-weight: bold;
	text-align: center;
	line-height: 110%;
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
}

.symbol {
	font-size: 60%;
	font-weight: normal;
	vertical-align: baseline;
	position: relative;
	top: -0.25em;
}

/* Instrument Status Boxes */

/* ACQUIRE */

.acquire {
	color: #d1d7e1;
	background-color: #081b2f;
	text-shadow: none;
	font-size: 1.5em;
	margin-bottom: 20px;
	max-height: 360px;
	border: 2px solid #0085d5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
}

.acquire-title {
	color: #08bbf9;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
 }
 
 .acquire-time {
	color: #08bbf9;
	font-size: 4.75em;
	line-height: 1.1em;
	font-weight: bold;
	padding-right: 20px;
	float: right;
}

.progress {
	height: 30px;
	background-image: none;
	background-color: #495268;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	clear: both;
}

.acquire-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2em;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	clear: both;
}

.acquire-text strong {
	color: #08bbf9;
	text-transform: uppercase;
}

 .channels {
	margin-left: 20px;
	margin-right: 10px;
 }
 
 .channel-label {
	position: relative;
	width: 22.8%;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color: #495268;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
	border: 2px solid #0085d5;
	margin-right: 6px;
	margin-bottom: 6px;
	float: left;
 }
 
 .on {
	animation: channel-on 3s;
		-webkit-animation: channel-on 3s;
	animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
 }

/* 	ERROR */

.error {
	background-color: #081b2f;
	text-shadow: none;
	border: 2px solid #ff0000;
	margin-bottom: 20px;
	max-height: 360px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
}

.error-title {
	color: #ff0000;
	font-size: 5em;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
 }
 
 .error-text {
	color: #ff0000;
	font-size: 2.65em;
	padding: 5px 20px;
	line-height: 1.2;
}
 
 /* IDLE */
 
.idle {
	background-color: #081b2f;
	text-shadow: none;
	border: 2px solid #82cc03;
	margin-bottom: 20px;
	max-height: 360px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
}

.idle-title {
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #82cc03;
	font-size: 5em;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
 }

/* Cryogen Status Box */
 
.cryo {
	/*background-color: #081b2f;*/
	max-height: 360px;
}

#cryochart {
	margin-top: 5px;
}

#cryomessage {
	height: 46px;
	white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
	text-align: left;
	color: #dea806;
	font-size: 22px;
	line-height: 1.1em;
	text-transform: capitalize;
	margin-top: -10px;
	padding-right: 20px;
	padding-left: 20px;
}


.axis path,
.axis line {
	fill: none;
	stroke: #7d8297;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 14px;
	font-weight: normal;
	fill: #d1d7e1;
}

.x.axis text {
	font-size: 28px;
	font-weight: normal;
	/*fill: #08bbf9;*/
}

.bar {
	fill: #08bbf9;
}

/* Tuning */

.tuning {
	background-color: #081b2f;
	border: 1px solid #7D8297;
	color: #82cc03;
	margin-bottom: 20px;
	max-height: 640px;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

#vis {
	background-color: #293347;
	height: 535px;
	width: auto;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 50px;
	border: 1px solid #7d8297;
	border-radius: 4px;
}

.setup-container {
	margin-left: 24px;
}

.tuning-buttons {
	padding: 0px 0px 20px 30px;
}

.btn-container {
	padding: 5px 0px 40px 30px;
}
