# One-line layout
<HTML><TABLE WIDTH=%width% CELLSPACING=0 CELLPADDING=1>
<TR><TD NOWRAP VALIGN=BOTTOM><B>%title%</B></TD>
<TD NOWRAP WIDTH=60 VALIGN=BOTTOM><SMALL>\ \ %status%</SMALL></TD>
<TD NOWRAP WIDTH=60 VALIGN=BOTTOM ALIGN=RIGHT><SMALL>\ \ %\[time\]\ %</SMALL></TD></TR>
</TABLE>

# Two-line layout
#<HTML><TABLE WIDTH=%width% CELLSPACING=0 CELLPADDING=0>
#<TR><TD NOWRAP VALIGN=BOTTOM><B>%title%</B></TD></TR>
#<TR><TD NOWRAP VALIGN=BOTTOM><SMALL>%status%</SMALL></TD>
#<TD NOWRAP VALIGN=BOTTOM ALIGN=RIGHT><SMALL>\ %\[time\]%</SMALL></TD></TR>
#</TABLE>

# One-line layout with ID
#<HTML><TABLE WIDTH=%width% CELLSPACING=0 CELLPADDING=1>
#<TR><TD NOWRAP VALIGN=BOTTOM><B>%title%</B>\ <SMALL>%status%%\ \[time\]%</SMALL></TD>
#<TD NOWRAP VALIGN=BOTTOM ALIGN=RIGHT>\ <SMALL>%id%</SMALL></TD></TR>
#</TABLE>
