*.a
*.o
*.os
*.so
.sconsign.dblite

daemon.c
excepthandler.c
commfuncs.c
parser.c

commfuncs.h
errLogLib.h
eventHandler.h
expQfuncs.h
expentrystructs.h
hhashLib.h
hostAcqStructs.h
hostMsgChannels.h
ipcMsgQLib.h
mfileObj.h
msgQLib.h
parser.h
shrMLib.h
shrexpinfo.h
sockets.h

Sendproc

chanLib.h
chanLibP.h
eventQueue.h
eventQueueP.h
ipcKeyDbm.h
listObj.h
semLib.h
sendAsync.h

