*.a
*.o
*.os
*.so
.sconsign
.sconsign.dblite
*.project
*.cproject
*.svn
CVS
.cvsignore

expQfuncs.c
statfuncs.c
msgqueue.c
acqfuncs.c
acqhwcmd.c
addsub.c
ai.c
allocate.c
asm.c
asmfuncs.c
assign.c
bgvars.c
bootup.c
builtin.c
builtin1.c
buttons.c
continprepare.c
continread.c
createparams.c
CSfuncs.c
data.c
ddf.c
ddif.c
ddph.c
debug.c
df2d.c
dfww.c
dg.c
disp3Dmap.c
dll.c
dosyfit.c
dpf.c
dps.c
ds.c
dscale.c
dsn.c
dsp.c
dsww.c
element.c
emouse.c
execcmd.c
fiddle.c
files.c
flashc.c
ft.c
ft2d.c
ftinit.c
full.c
gdevsw.c
glide.c
go.c
gradfit.c
graphics.c
graphics_util.c
gxyzcalib.c
gxyzcalib2.c
gxyzmap.c
gzfit.c
handler.c
help.c
history.c
hpa.c
ht.c
init2d.c
init_display.c
init_proc.c
integ.c
io.c
jexp.c
ll2d.c
lockfreqfunc.c
locksys.c
lookup.c
lp.c
lstring.c
macro.c
magnetom.c
makeslice.c
md5c.c
mfdata.c
ops.c
p11Tools.c
part11.c
pcmap.c
phase_fid.c
plot_handlers.c
plot_construct.c
proc2d.c
pvars.c
recon3D.c
recon_all.c
recon_mm.c
readlk.c
rtvarcmds.c
savretphf.c
set3dproc.c
shellcmds.c
shims.c
sky.c
specfreq.c
splmodprepare.c
splmodread.c
sread.c
swrite.c
symtab.c
table.c
tempstuff.c
terminal.c
text.c
tools.c
variables1.c
vcolor.c
vdialog.c
vfilesys.c
vfontselect.c
weight.c
annotate.c
wti.c
acqhdl.c
displayops.c
foldj.c
ddlAction.C
ddlNode.C
ddlParser.C
ddlScanner.C
ddlSymbolTable.C
aipAxisInfo.C
aipAxisInfo.h
aipBox.C
aipCommands.C
aipCSIGrid.C
aipDataInfo.C
aipDataManager.C
aipEdgelist.C
aipGframe.C
aipGframeManager.C
aipGraphicsWin.C
aipHistogram.C
aipImgInfo.C
aipImgOverlay.C
aipImgOverlay.h
aipInitStart.C
aipInterface.C
aipInterpolation.C
aipLine.C
aipMouse.C
aipOval.C
aipParmList.C
aipPoint.C
aipPolygon.C
aipPolyline.C
aipRoi.C
aipRoiManager.C
aipRoiStat.C
aipStderr.C
aipUtils.C
aipViewInfo.C
aipVnmrFuncs.C
aipVolData.C
aipVsInfo.C
aipWinMath.C
aipWinMovie.C
aipMovie.C
aipWinRotation.C
aipWriteData.C
aipReviewQueue.C
aipRQparser.C
aipRQnode.C
aipRQimage.C
aipRQgroup.C
aipRQstudy.C
aipSpecData.C
aipSpecData.h
aipSpecDataMgr.C
aipSpecDataMgr.h
aipSpecLayoutMgr.C
aipSpecLayoutMgr.h
aipSpecStruct.h
aipSpecView.C
aipSpecView.h
aipSpecViewList.C
aipSpecViewList.h
aipSpecViewMgr.C
aipSpecViewMgr.h
ddlCInterface.C
csiFuncs.c
ap_device.c
device.c
ecc_setup.c
ecc_worstCase.c
freq_device.c
freqfuncs.c
objerror.c
lock3Dfiles.c
exec.c
dli.c
fft.c
lexjunk.c
lpz.c
matrix.c
node.c
downsample.c
lpqld.c
socket1.c
comm.c
socket.c
sockets.c
mfileObj.c
errLogLib.c
hhashLib.c
ipcKeyDbm.c
ipcMsgQLib.c
semLib.c
msgQLib.c
asyncIo.c
eventHandler.c
eventQueue.c
listObj.c
sendAsync.c
fdmask.c
shrMLib.c
magic.gram.y
magic.parser
magic.lex.l
revdate.c
aipOrthoSlices.C
magic.lex.c
master.icon
vnmr.icon
vnmr_text.icon
vnmrjNative.c

ACQ_HAL.h
ACQ_SUN.h
Pbox_HT.h
REV_NUMS.h
STAT_DEFS.h
acodes.h
acqInterface.h
acqcmds.h
acqerrmsges.h
acquisition.h
aipBox.h
aipCFuncs.h
aipCInterface.h
aipCSIGrid.h
aipCStructs.h
aipCommands.h
aipDataInfo.h
aipDataManager.h
aipDataStruct.h
aipEdgelist.h
aipGframe.h
aipGframeManager.h
aipGraphics.h
aipGraphicsWin.h
aipHistogram.h
aipImgInfo.h
aipInitStart.h
aipInterface.h
aipInterpolation.h
aipLine.h
aipMouse.h
aipMovie.C
aipMovie.h
aipOrthoSlices.h
aipOval.h
aipParmList.h
aipPoint.h
aipPolygon.h
aipPolyline.h
aipRQgroup.h
aipRQimage.h
aipRQnode.h
aipRQparser.h
aipRQstudy.h
aipReviewQueue.h
aipRoi.h
aipRoiManager.h
aipRoiStat.h
aipStderr.h
aipStructs.h
aipUtils.h
aipViewInfo.h
aipVnmrFuncs.h
aipVolData.h
aipVsInfo.h
aipWinMath.h
aipWinMovie.h
aipMovie.h
aipWinRotation.h
aipWriteData.h
allocate.h
ap_device.p
asm.h
bgvars.h
buttons.h
chanLib.h
comm.h
common.p
CSfuncs.h
data.h
ddlCInterface.h
ddlList.h
ddlNode.h
ddlParser.h
ddlScanner.h
ddlSymbol.h
device.p
disp.h
displayops.h
dps_menu.icon
dps.h
dpsdef.h
dscale.h
ecc.h
element.h
epi_recon.h
errLogLib.h
errorcodes.h
eventHandler.h
eventQueue.h
eventQueueP.h
expQfuncs.h
freq_device.p
fft.h
ftpar.h
graphics.h
graphics_util.h
group.h
hhashLib.h
hostAcqStructs.h
hostMsgChannels.h
init.h
init_display.h
init_proc.h
init2d.h
ipcKeyDbm.h
ipcMsgQLib.h
iplan.h
iplan_graphics.h
listObj.h
lock3D.h
locksys.h
md5.h
md5global.h
mfileObj.h
msgQLib.h
node.h
objerror.h
oopc.h
params.h
part11.h
phase_correct.h
process.h
pvars.h
rfconst.h
semLib.h
sendAsync.h
sharedPtr.h
shims.h
shrMLib.h
shrexpinfo.h
shrstatinfo.h
sky.h
sockets.h
sockinfo.h
stack.h
struct3d.h
symtab.h
tools.h
variables.h
vfilesys.h
vglide.h
vnmrsys.h
whenmask.h
wjunk.h


Vnmrbg

ddlGrammar.y
yytoddl
magic.lex.c.orig
magic.gram.*

AspAnno.C
AspAnno.h
AspAnnoList.C
AspAnnoList.h
AspArrow.C
AspArrow.h
AspBar.C
AspBar.h
AspBox.C
AspBox.h
AspCell.C
AspCell.h
AspCellList.C
AspCellList.h
AspCursor.C
AspCursor.h
AspDataInfo.C
AspDataInfo.h
AspDis1D.C
AspDis1D.h
AspDisAnno.C
AspDisAnno.h
AspDisInteg.C
AspDisInteg.h
AspDisPeaks.C
AspDisPeaks.h
AspDisRegion.C
AspDisRegion.h
AspFrame.C
AspFrame.h
AspFrameMgr.C
AspFrameMgr.h
AspInteg.C
AspInteg.h
AspIntegList.C
AspIntegList.h
AspLine.C
AspLine.h
AspMouse.C
AspMouse.h
AspOval.C
AspOval.h
AspPeak.C
AspPeak.h
AspPeakList.C
AspPeakList.h
AspPoint.C
AspPoint.h
AspPolygon.C
AspPolygon.h
AspPolyline.C
AspPolyline.h
AspRegion.C
AspRegion.h
AspRegionList.C
AspRegionList.h
AspRenderedTrace.C
AspRenderedTrace.h
AspRoi.C
AspRoi.h
AspRoiList.C
AspRoiList.h
AspText.C
AspText.h
AspTrace.C
AspTrace.h
AspTraceList.C
AspTraceList.h
AspUtil.C
AspUtil.h

